@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewBag.Title = "Index";
}
@section scripts{
    <script>
        $(function details() {
            $(".details").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("Details?id=" + id, function () {
                    $("#modal").modal();
                })
            });
        })

        $(function edit() {
        $(".edit").click(function () {
            var id = $(this).attr("data-id");
            $("#modal").load("Edit?id=" + id, function () {
                $("#modal").modal();
            })
            });
        })

    </script>

    <style>
        .modal .modal-dialog {
            width: 60%;
            max-width:60%;
        }
    </style>
    0
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("Index", "Movies", FormMethod.Get))
    {
    <p>
        Genre: @Html.DropDownList("movieGenre", "All")
        Title: @Html.TextBox("SearchString")
        <input type="submit" value="Filter" />
    </p>
}

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-default details" data-id="@item.ID">Detalhe <i class="glyphicon glyphicon-file"></i></button>
                    <button class="btn btn-danger delete" data-id="@item.ID">Delete <i class="glyphicon glyphicon-trash"></i></button>
                    <button class="btn btn-primary edit" data-id="@item.ID">Editar <i class="glyphicon glyphicon-edit"></i></button>
                </td>
            </tr>
        }

    </table>

    <div class="modal" id="modal">

    </div>
